.modal-body {
  outline: none;
  position: absolute !important;
  background-color: #fff;
  left: 30%;
  top: 30%;
  width: 500px;

  button {
    cursor: pointer;
    font-weight: 700;
    background: transparent;
    height: 50px;
  }

  @media screen and (max-width: 768px) {
    left: 5%;
    top: 5%;
    width: 300px;

    img {
      width: auto;
      height: auto;
      margin: 16px;
    }
  }

  & button {
    position: absolute;
    bottom: 10px;
    width: 120px;
    left: 35%;
  }
}
